<div class="container">
  <div class="inputarea">
  <input class="valuein" type="number" step="0.1" id="val" placeholder="Enter Value">
  <select class="optionmenu" id="opt" name="size">
    <option selected>Kilometer</option>
    <option>Meter</option>
    <option>Centimeter</option>
    <option>Melimeter</option>
    <option>Foot</option>
    <option>Inch</option>
    <option>Mile</option>
  </select>
</div>
<div class="inputarea martp30">
  <button (click)="checkIndex()" class="btn">
    Click Here
  </button>
</div>
<div class="row justc martp60">
  <div class="col-sm-4 marleft">
    <table  cellpadding="10">
      <tr>
        <td><span class="boldd">Kilometer: </span></td>
        <td>{{km}}</td>
      </tr>
      <tr>
        <td><span class="boldd">Meter: </span></td>
        <td>{{met}}</td>
      </tr>
      <tr>
        <td><span class="boldd">Centimeter: </span></td>
        <td>{{cm}}</td>
      </tr>
    </table>
  </div>
  <div class="col-sm-4 marleft">
      <table cellpadding="10">
        <tr>
          <td><span class="boldd">Foot: </span></td>
          <td>{{ft}}</td>
        </tr>
        <tr>
          <td><span class="boldd">Inch: </span></td>
          <td>{{in}}</td>
        </tr>
        <tr>
          <td><span class="boldd">Mile: </span></td>
          <td>{{mi}}</td>
        </tr>
      </table>
    </div>
</div>
<!-- <div class="row justc textc martp60">
  <div class="col-sm-1"><span class="boldd">Kilometer</span><br /><span id="km">{{km}}</span></div>
  <div class="col-sm-2"><span class="boldd">Meter</span><br /><span class="met">{{met}}</span></div>
  <div class="col-sm-2"><span class="boldd">Centimeter</span><br /><span class="cm">{{cm}}</span></div>
  <div class="col-sm-2"><span class="boldd">Millimeter</span><br /><span class="mm">{{mil}}</span></div>
  <div class="col-sm-2"><span class="boldd">Foot</span><br /><span class="ft">{{ft}}</span></div>
  <div class="col-sm-2"><span class="boldd">Inch</span><br /><span class="in">{{in}}</span></div>
  <div class="col-sm-1"><span class="boldd">Mile</span><br /><span class="mi">{{mi}}</span></div>
</div> -->
</div>